<!DOCTYPE html>
<%@ page contentType="text/html; charset=UTF-8" %>
<%@ taglib prefix="html" uri="http://struts.apache.org/tags-html" %>
<html>
<head>
  <title>Login</title>
  <base href="<%=request.getContextPath()%>/"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="BootstrapStyle/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="BootstrapStyle/css/app.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="BootstrapStyle/assets/js/html5shiv.js"></script>
		<script src="BootstrapStyle/assets/js/respond.min.js"></script>
	<![endif]-->	
</head>
<body class="signin">
	<form name="page4zFormBean" id="page4zFormBean" method="post" action="/community/form_page4z.do" enctype="multipart/form-data">
		<input type="hidden" name="lastURL" value="page4z.do" id="lastURL_page4z">
		<input type="hidden" name="ln5z" value="lgu3z?sp=page4z&amp;link=ln5z">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-3 col-md-5 col-md-offset-4">
					<div class="container_12">
						<div class="grid_12 alpha omega agrd_24">
							<div class="panel panel-default ">
								<div class="panel-heading">
									<h2 class="panel-title">Login</h2>
								</div>
								<div class="panel-body">
									<div class="EntryUnit ">
										<div class="form-horizontal ">
											<div class="form-group ">
												<label for="fld5z" class="control-label col-md-2">Username</label>
												<div class="controls col-md-10">
													<input type="text" name="fld5z" value="" id="fld5z" class="wr-submitButtons:ln5z  form-control ">
					
												</div>
											</div>
				
											<div class="form-group ">
												<label for="fld6z" class="control-label col-md-2">Password</label>
												<div class="controls col-md-10">
													<input type="password" autocomplete="off" id="fld6z" class="wr-submitButtons:ln5z form-control " name="fld6z"/>
												</div>
											</div>
										</div>
									<div class="row"><div class="col-md-offset-2 col-md-10">
										<div class="form-group form-btn">
											<button title="Login" onclick="$('#page4zFormBean')[0].target='_self'" class="btn  btn-default " id="button:ln5z" name="button:ln5z" type="submit" value="Login">Login</button>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<hr class="footer-bar"/>
		</div>
	</div>
</div>
</form>
<script src="WRResources/ajax/jquery/jquery.min.js" type="text/javascript" rel="javascript"></script>	
<script src="WRResources/script.js" type="text/javascript" rel="javascript"></script>
<script src="BootstrapStyle/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="BootstrapStyle/js/app.min.js" type="text/javascript"></script>
</body>
</html> 
